{% extends 'main/base.html' %}

{% block title%}MatchStats{% endblock %}

{% block content %}
<style>
    .players{
        width: 100%;
        background-color: aquamarine;
        margin-bottom:2px;
        font-size: large;
        text-align: center;
        list-style-type: none;
        padding: 2px;;

    }
    .change_color:hover{
        background-color: rgb(196, 238, 98);
    }
</style>



<body>
    <h1 style="text-align: center; background-color: rgb(235, 66, 99); margin: 0px;padding: 6px;">League Players</h1>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">jersey_no</th>
            <th scope="col">Team</th>
            <th scope="col">Positon</th>
            <th scope="col">Goals</th>
            <th scope="col">Assists</th>
           
            <th scope="col">RedCards</th>
            <th scope="col">yellowCards</th>
            <th scope="col">Country</th>
            <th scope="col">Height</th>
            <th scope="col">D.O.B</th>
          </tr>
        </thead>
        <tbody>
        {% for player in players.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a class="change_color" href="{% url 'main:player_detail' player.id %}" style="text-decoration: none; color: rgb(8, 8, 8);">{{ player.name }}</a></td>
            <td>{{ player.jersey_no}}</td>
            <td>{{player.team}}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.goals}}</td>
            <td>{{ player.assists }}</td>
            
            <td>{{ player.red_cards }}</td>
            <td>{{ player.yellow_cards}}</td>
            <td>{{ player.nationality}}</td>
            <td>{{ player.height}}</td>
            <td>{{ player.dob }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    <!-- <div > 
        <ul>
        {% for player in players.all %}
        <li class="players"> <a class="change_color" href="{% url 'main:player_detail' player.id %}" style="text-decoration: none; color: rgb(8, 8, 8);">{{ player.name }}</a> - {{ player.team }}
        </li>
       
        {% endfor %}
    </ul></div> -->
   
</body>
{%endblock%}